01 if statement

In [12]:
bilangan = 9

if print(bilangan % 2) == 5:
    print("bilangan ganjil")
    bilangan = bilangan**2
    print(bilangan)

elif (bilangan % 2) == 0:
    print("bilangan genap")

else:
    print("tidak termasuk bilangan genap")

1
tidak termasuk bilangan genap

In [ ]:
nilai = 90

if nilai >=90:
  print ("A")
elif nilai >=80:
  print ("AB")
elif nilai >=70:
  print ("B")
elif nilai >= 60:
  print ("C")

A

In [ ]:
Belanja = 110000
pake_kupon = True

if Belanja >= 100000:
  if pake_kupon:
    diskon = 0.2*Belanja
    print(f"Total diskon adalah {diskon}, Terimakasih!")
    Belanja = Belanja - diskon
    print("total belanja : ", Belanja)

  else:
    print("total belanja : ", Belanja)

else:
  print("Belanja kurang dari 100.000")

Total diskon adalah 22000.0, Terimakasih!
total belanja :  88000.0

In [ ]:
for i in range(0, 110, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90
100

In [1]:
i=0
while i >=0:
  i = i + 1
  print (i)
  if  i>=100:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:

from ast import Break
username = "Dimas"
password = "Dimas123"

login = True

count = 0
while login:
  input_username = input("username :")
  input_password = input("password :")

  count = count + 1

  if input_username == username and input_password == password:
    print("Login Berhasil!")
    break
  else:
    print("Login Gagal!, username atau password salah")

  if count == 3:
    break

username :Dimas
password :Dimas123
Login Berhasil!

In [14]:
for i in range (0,50,1):
  if i % 2 ==0:
    print (f"bil{i}  genap")
  elif i % 2 != 0:
    print(f"bil{i}  ganjil")
  else:
    print(f"bil{i} bukan bilangan bulat ")

bil0  genap
bil1  ganjil
bil2  genap
bil3  ganjil
bil4  genap
bil5  ganjil
bil6  genap
bil7  ganjil
bil8  genap
bil9  ganjil
bil10  genap
bil11  ganjil
bil12  genap
bil13  ganjil
bil14  genap
bil15  ganjil
bil16  genap
bil17  ganjil
bil18  genap
bil19  ganjil
bil20  genap
bil21  ganjil
bil22  genap
bil23  ganjil
bil24  genap
bil25  ganjil
bil26  genap
bil27  ganjil
bil28  genap
bil29  ganjil
bil30  genap
bil31  ganjil
bil32  genap
bil33  ganjil
bil34  genap
bil35  ganjil
bil36  genap
bil37  ganjil
bil38  genap
bil39  ganjil
bil40  genap
bil41  ganjil
bil42  genap
bil43  ganjil
bil44  genap
bil45  ganjil
bil46  genap
bil47  ganjil
bil48  genap
bil49  ganjil

In [25]:
# Tugas / chalenge 2
# rata rata usia total pemain bola
total_pemain_bola = int (input("jumlah pemain bola: "))
total_keseluruhan = 0
for jumlah in range (total_pemain_bola):
  usia = int (input(f" usia pemain bola ke-{jumlah + 1:}"))
  total_keseluruhan += usia

  rata_rata = total_keseluruhan / total_pemain_bola
  print ("rata rata usia:", round(rata_rata, 2))

jumlah pemain bola: 4
 usia pemain bola ke-14
rata rata usia: 1.0
 usia pemain bola ke-24
rata rata usia: 2.0
 usia pemain bola ke-34
rata rata usia: 3.0
 usia pemain bola ke-44
rata rata usia: 4.0